body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-text{
    color: orange;
}
section{
    margin-bottom: 150px;
    margin-top: 60px;
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 0 5%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
}
.sec_1{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
p{
    text-align: justify;
}
.sec_2{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    box-shadow: 17px 0px 20px 2px grey;
    width: 40%;
    margin: 0 5%;
    padding: 20px;
    border-radius: 5px;
    
}
#left{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
#right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.sec_3{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}